<br>
<li>
  <div class="row">
    <div class="col-md-8">
      <blockquote id="answer-tile"class="blockquote">
        <p class="mb-0">{{answer.content}} </p>
        <footer class="blockquote-answer">
          {{answer.author}}
        </footer>
        <br>
        <div class="votes">
          {{answer.upvote}}
          <img id="upvote" {{action 'upvote' answer}} src="/img/upvote-icon.png">
          <img id="downvote"{{action 'downvote' answer}} src="/img/downvote-icon.png">
          {{answer.downvote}}
        </div>
      </blockquote>
    </div>
  </div>
</li>

<button class="btn btn-danger"{{action 'delete' answer}}>Delete</button>
