 <li>{{question.content}} <br>  -{{question.author}}' <br> notes-{{question.notes}}</li>
 {{update-question question=question update="update"}}
 <button class="btn btn-danger"{{action 'delete' question}}>Delete Question</button>
